/* Thanh search account */
input.searchAccount {
    display: block;
    width: 20%;
    margin-top: 10px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    border-radius: 5%;
}

input.searchAccount:focus {
width: 100%;
}

.btn-edit-account {
    margin-bottom: 5%;
}

button.btn.btn-success.btn-add-account {
    position: relative; 
    padding-right: 2rem
}

.iconAddAccount {
    position: absolute;
    right: 4%;
    top: 27%;
}

.jumbotron.manager-account {
    display: flex;
    justify-content: center;
    align-items: center;
}
