.comment-image-container img {
    height: 50px;
    width: 50px;
    border-radius: 20px;
}

span.item-fullname-comment {
    padding-left: 0;
    margin-left: 0;
    color: black;
    font-weight: 600;
    color: #385898;
}

span.item-date-comment {
    margin-left: 5px;
    padding-left: 0;
    font-size: 0.9rem;
    color: #65676B
}

.comment-text {
    color: black;
    font-size: 0.95rem;
    font-size: 600;
}