.user-title-order-vocabulary {
    position: relative;   
    top: 30%;
    left: 20%;
    background: #E8A930;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    padding-top: 6px;
    padding-left: 2px;
}

.user-content-order-vocabulary {
    font-size: 1.5rem;
    color: white;
}

.row-user-item-vocabulary:hover {
    background-color: #eeeeee;
}