/* container account */
.content-admin-grammar {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/* title */
.manager-grammar {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Thanh search account */
input.searchGrammar {
    display: block;
    width: 20%;
    margin-top: 10px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    border-radius: 5%;
}

input.searchGrammar:focus {
    width: 100%;
}

/* button add account */
button.btn.btn-success.btn-add-grammar {
    justify-content: center;
    align-items: center;
}

.iconAddGrammar {
    margin-left: 0.5rem;
}