/* Bố cục header */
nav.navBar-user-home.navbar.navbar-expand-lg.navbar-light {

    /* Thêm để tạo fix header và sidebar */
    position: fixed;
    z-index: 100;

    background-color: #d1c57b;
    display: flex;
    justify-content: space-between !important;
    padding-right: 4%;
    height: 6rem;
}

/*Brand header*/
a.navBrand-user-home.navbar-brand {
    font-size: 1.4em;
    color: #9FFFCB;
}

a.navBrand-user-home.navbar-brand:hover {
    color: white;
}

span.text-brand {
    font-size: 1.2rem;
    margin-left: 16px;
    font-weight: bold;
    color: #333
}

.div-brand-user {
    display: flex;
    align-items: center;
}

/* button user login */
.button-user-login {
    font-size: 1rem;
    font-weight: 500;
    color: #fff !important;
    background-color: #f05123;
    padding: 10px 12px;
    cursor: pointer;
    border-radius: 4px;
}

/* setting user login */
.icon-user-login {
    font-size: 2rem;
    cursor: pointer;
}

.setting-user {
   position: absolute;
   background-color: #d5d4c7;
   width: 260px;
   top: 66%;
   right: 0%;
   z-index: 10000;
   border-radius: 10px;
   margin-right: 38px;
   margin-top: 30px;
   color: black;
   display: none;
   transition: all 0.2s ease,
   padding 0.8s linear;
}

.display-info-login {
    margin-top: 1%;
    display: flex;
	align-content: flex-start;
	align-items: center;
	justify-content: center;	
	cursor: pointer;
	margin-top: 1rem;
	transition-duration: 0.4s;
}

.display-info-login img {
    border-radius: 50%;
}

.setting-user:before {
	content: "";
    position: absolute;
    top: 50%;
    margin-top: -151px;
    left: 199px;
    border: solid 15px transparent;
    border-bottom-color: #d5d4c7;
    z-index: 1;
}

.div-setting-user:hover .setting-user {
	display: flex;
 	align-content: center;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	padding-bottom: 1rem;
}

.setting-user-item {
	display: flex;
	width: 100%;
	align-content: flex-start;
	align-items: center;
	justify-content: center;	
	cursor: pointer;
	margin-top: 1rem;
	transition-duration: 0.4s;
	padding: 5px;	
}

img.icon-user-login {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

img.display-user {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}