.container-fluid.container-notfound {
    height: 100%;
    background: url("../../assets/images/tv_noise.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 1rem; */
    overflow: auto;
}

.error-box {
    width: 100%;
    max-width: 50rem;
    background-color: #181818;
    padding: 3rem 2.5rem 8rem;
    text-align: center;
    font-family: sans-serif;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .8);
}

.error-number {
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
}

.error-message {
    display: inline-block;
    background-color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 1rem;
}

.error-description {
    color: #eee;
    font-size: 0.7rem;
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    letter-spacing: 1px;
}

.error-cta {
    text-decoration: none;
    background-color: #181818;
    color: #957c09;
    font-size: 1.2rem;
    border: 1px solid #957c09;
    padding: 1rem 2.5rem;
    transition: background-color .5s;
}

.error-cta:hover {
    background-color: #957c09;
    color: #fff;
}

/* @media only screen and (min-width: 768px) {
    .error-box{
        max-width: 70rem;
    }

    .error-number{
        font-size: 6rem;
    }

    .error-message{
        font-size: 3.5rem;
    }

    .error-description{
        font-size: 1.6rem;
    }

    .error-cta {
        font-size: 2rem;
    }
} */
