/* chia nội dung trang home user */
.main-user-home {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* end chia nội dung trang home user  */

/* chia phần cho content và sideBar */
.main-sidebar-user {
    display: flex !important;
    flex-direction: row; 
}

.main-sidebar-user.row {
    min-height: calc(100vh - 6rem);
    background-color: #eeeeee;
}
/* end  chia phần cho content và sideBar  */

/* sideBar user */
.sideBar-user {
    position: absolute;
    /* height: 100%; */
    z-index: 1;
    overflow-x: hidden;  
}

nav.nav-menu-user {
    background-color: #eeeeee;
}
/* end sideBar user */
