.row.div-grammar-select {
    background-color: white;
    padding: 1rem;
}

.text-title-grammar {
    margin-left: 22rem;
}

.class-select-grammar {
    margin-left: 17rem;
    width: 546px;
}

.group-select-grammar {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.btn-learn-grammar {
    margin-left: 2rem;
    width: 100px;
}