.CourseItem_thumb__2ezb2 {
    width: 100%;
    padding-top: 56%;
    object-fit: cover;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: rgba(0,0,0,.1);
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.CourseItem_title__1vsib a {
    color: #292929;
    font-size: 1.8rem;
    line-height: 1.8;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.LearningItem_progressBar__3Vrf4 {
    height: 5px;
    background: rgba(10,208,218,.3);
    width: calc(100% + 32px);
    position: absolute;
    left: 0;
    bottom: 0;
}
.LearningItem_title__1N4Yw {
    margin-bottom: 0;
}
.LearningItem_thumbWrap__N2S_X {
    border-radius: 16px;
    position: relative;
    overflow: hidden;
}

.index-module_col__2EQm9 {
    padding-left: 12px;
    padding-right: 12px;
}
.index-module_m-4__30Uoi {
    width: 33.33333%;
}
.index-module_c-12__u7UXF {
    width: 100%;
}
.index-module_m-4__30Uoi {
    width: 33.33333%;
}
.index-module_l-3__MjWvb {
    width: 25%;
}
.CourseItem_wrapper__1XHIu {
    width: 320px;
    overflow: hidden;
}
.CoursesList_courseItem__3L89p {
    width: 100%;
    margin-bottom: 48px;
}
.SectionList_body__2yKdI {
    display: flex;
    min-height: 200px;
    padding-bottom: 16px;
}

.Home_courseItem__3V9f8 {
    flex-shrink: 0;
    margin-right: 24px;
}

.LearningItem_wrapper__2KjyH {
    width: 320px;
    overflow: hidden;
}
.LearningItem_thumb__pNTjk {
    width: 100%;
    padding-top: 56%;
    object-fit: cover;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: rgba(0,0,0,.1);
}
.CoursesList_courseItem__3L89p {
    width: 100%;
    margin-bottom: 48px;
}
.index-module_l-3__MjWvb {
    width: 25%;
}
.index-module_col__2EQm9 {
    padding-left: 12px;
    padding-right: 12px;
}
div {
    display: block;
}

/* Chapter Card */
.card-header:first-child {
    border-radius: calc(.25rem - 0) calc(.25rem - 0) 0 0;
}
.card-header {
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 0.35rem 0.75rem;
    position: relative;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.card-header {
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.card-header {
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 0.75rem 1.25rem;
    position: relative;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 0 solid rgba(0,0,0,.125);
}
div {
    display: block;
}

/* Video Container */
.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
  
.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.icon-css {
    font-size: 25px;
}