.main-content-user-topic {
    margin-top: 1%;
}

.div-search-topic {
    background-color: white;
    margin-bottom: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
}

input.userSearchTopic.form-control {
    width: 546px; 
    margin-left: 26%;
}

.text-title-topic {
    margin-left: 40%;
}

.row.row-topic {
    display: flex;
    flex-flow: row wrap;
    position: relative;
}