.col.mb-2.item-topic-new {
    margin: 0 !important;
    margin-right: 0.5rem !important;
}

.card-item-topic-new {
    transition: all 300ms ease-in-out;
}

.card-item-topic-new:hover {
    cursor: pointer;
}

.card-item-topic-new:hover .btn-detail-topic-new {
    display: block !important;
    z-index: 2;
}

.card-item-topic-new:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: all 500ms ease-in-out;
}

.btn-detail-topic-new {
    font-size: 0.6rem !important;
    position: absolute;
    width: 5rem;
    height: 3rem;
    left: 33%;
    top: 36%;
    transition: all 500ms ease-in-out;
    display: none !important;
}

/* css item new */
.icon-new {
    position: absolute;
    position: 2;
    width: 50px;
    height: 50px;
    right: 0.3rem;
    top: 0.2rem;
}

/* image */
.img-topic-new {
    height: 10rem !important;
}