.nav-menu-user {
    background-color: #fff;
    width: 280px;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* Tránh bị nội dung ghi đè */
  nav.nav-menu-user { 
    z-index: 100; 
  }
  
  .nav-user-text {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 8px 0px 8px 0px;
    list-style: none;
    height: 60px;
  }
  
  .nav-user-text a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-user-text a:hover {
    background-color: #1a83ff;
  }
  
  .nav-menu-user-items {
    width: 100%;
    padding: 0;
  }
    
  span {
    margin-left: 16px;
  }
  