.div-slide-swipper {
    margin-top: 1rem;
    margin-left: 1.6rem;
    background-color: hsl(0, 0%, 93%);
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 96%;
    background-color: transparent;
}

button.slick-arrow.slick-prev {
    display: none !important;
}


button.slick-arrow.slick-next {
    display: none !important;
}


