label.radio {
    width: 40% !important;
    display: inline-block !important;
    margin: 10px 10px !important;
}

label.radioimage {
    width: 80% !important;
    display: inline-block !important;
    margin: 10px 10px !important;
    padding: 10px !important;
    font-size: 20px;
    text-align: left;
    color: black;
}

.UserExercise .question {
    max-width: 100% !important;
    width: 100%;
    text-align: center;
  }

.myaudio {
    display: block !important;
    margin: auto !important;
}