.title-name-detail-topic {
    margin-top: 2%;
    font-size: 1.7em;
    color: #b10021;
    font-weight: 600;
}

.btn-admin-add-voca {
    position: fixed;
    color: rgb(39, 126, 39);
    font-size: 3em;
    top: 90%;
    right: 0.5%;
    cursor: pointer;
}
